extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ritesh Maharjan

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi, I am an enthusiastic and a passionate guy who is looking forward to hone and learn new skills to become a software developer. I came to Canada in order to become a developer
            | at 2016 for study. I joined Conestoga College and studied IT Innovation and Design Advance Ontario Diploma course where i first put my foot in software development.
            | Right now I am learning in teamtreehouse to learn and hone my skills. I am currently looking for a job to make use of my skills to achieve organizaiton goals and also to fulfill 
            | my dream of becoming a developer.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5
          li CSS3
          li JavaScript
          li jQuery
          li Node 
          li NPM
          li Git
          li MySQL
          li Github
          li Express
        h6 Contact Info

        ul
          li 519-781-4936
          li rite_maharjan@yahoo.com

        a.button.expanded(href='https://www.linkedin.com/in/rmaharjan/', target ='_blank') LinkedIn
        a.button.expanded(href='https://github.com/CataLight', target ='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  