extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Personal Portfolio

      p.lead.text-light
        | These are some of the projects that i have created using the skills that i learned
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.thumbnail}`)
            h5= project.project_name
